@charset "UTF-8";

/*todas as demais midias*/

   /*IMPRESSÃO*/
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 1px solid black;
    }

    h1 {
        text-shadow: none;
        color: black;
    }
    /*A impressão não imprime background*/
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}
}
  /*TABLET*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../imagens/back-tablet.jpg");
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}
   /*DESKTOP*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url("../imagens/back-pc.jpg");
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}
   /*GRANDES TELAS*/
@media screen and (min-width: 1200px) {
    body {
        background-image: url("../imagens/back-tv.jpg");
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}