@charset "UTF-8";

div.container {
    background-color: blue;

    display: flex;
}

div.item {
    background-color: blueviolet;
    border: 1px solid #000;
    text-align: center;

    flex: auto;
}